html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

p {
    line-height: 1.5em;
    margin-bottom: 2%;
}

.outer_spacer {
    margin-left: 5%;
    margin-right: 5%;
}
