html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

p {
    line-height: 1.5em;
    margin-bottom: 2%;
}

.outer_spacer {
    margin-left: 5%;
    margin-right: 5%;
}

/* Navbar CSS adapted using sections from W3Schools, link: https://www.w3schools.com/css/css_navbar_horizontal.asp */
.navbar {
    margin: 0;
    padding-left: 3%;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(255, 245, 203);
}

.navbar li {
    display: block;
    float: left;
    padding: 1% 1.5%;
    text-align: center;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar li:hover {
    background-color: rgb(255, 239, 177);
}
