/* CSS styling for the flex container and cards used to display team members */
button {
    margin-bottom: 0.5%;
}

.flex_container {
    width: 100%;
    min-height: 5%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    background-color: antiquewhite;
}

.team_card {
    max-width: 12%;
    min-width: 100px;
    max-height: 18%;
    min-height: 150px;
    padding: 2%;
    border: 1px solid black;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    display: inline-block;
    text-align: center;
    font-size: small;
}

.team_card img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
}
